.nav {
	background-image: url("Imagenes/home3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
	font-size: 60px;
	font-family: Sweet Sans Pro, sans-serif;
	font-weight: normal;
	letter-spacing: 10px;
	word-spacing: 50px;
	text-align: center;
}

li, a {
	color: #ffffff;
	text-decoration: none;
	display: inline;
}


a:hover {
    color: #3a3a3a;
}

